body{
    background-image: url(../img/bg.jpg);
    color: #fff;
}

section{
    width: 700px;
    height: 700px;
    margin-left: 17%;
}
h2, section{
    border: 5px solid #fff;
    background-color: rgba(0, 0, 0, 0.8);
}
h2{
    margin-left:206px;
    width: 160px;
    margin-bottom: -5px;
}
img{
    width: 70px;
    height: 70px;
}
.btn{
    background-color: #000;
    height: 50px;
    font-size: 22px;
    font-style: italic;
    border: 2px solid #fff;
}
.start{
    margin-left: 190px;
}
.start, .stop{
    margin-top: 11px;
}
.stop{
    margin-left: 189px;
}